{% extends 'paginas/modelo-ifpr.html' %}


{% block conteudo %}
<h3>Página inicial</h3>
{% if not request.user.is_authenticated %}
<p>
    Para acessar o sistema, faça o login.
</p>
<p>
    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
</p>
{% else %}

    <p>
        Olá, {{ request.user }}!
    </p>
    <h4>Estatísticas</h4>
        <ul>
            <li>Qtde de receitas do blog: {{ qtdeReceitas }}</li>
        </ul>

        <h4>Algumas delas</h4>
        
        <ul>
            {% for c in receitassAleatorias %}
                <li>{{ c.nome }} - {{ c.categoria }}</li>
            {% endfor %}
            {{ queryset }}
        </ul>
    </p>

{% endif %}

{% endblock %}